<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EjS template</title>
</head>
<body>
    <h1>This is Home Page</h1>
<div style="height: 200px"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis mollitia eos fugiat doloremque facere itaque? Dicta reprehenderit pariatur, amet velit voluptatibus quam architecto officiis, natus officia culpa nobis, deleniti necessitatibus.</p></div>
<button>Sumbit</button>
</body>
</html>